@font-face {
    font-family: 'Norse';
    src: url('./fonts/Norse-Bold.woff2') format('woff2'),
        url('./fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}
.container {
    display: flex;
    min-height: 100vh;
}

                    /* Sidebar */
.sidebar {
    
    width: 40%;
    background-image: url("./HristoDimitrov.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.logo-banner {
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0 0 0 / 0.4);
}
.logo-img {

    height: 6.5rem;
}

.logo-lined {
    font-family: Norse;
    color: white;
    font-weight: bold;
    font-size: 5rem;
    
}
.photo-credit {
    margin-top: auto;
    padding-bottom: 1rem;
    text-align: center;
    color: white;
    font-size: 0.8rem;
}
.photo-credit a{
    color: #f9fafb;
    
}

                    /* Main */

main {

    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #f9fafb;

}

main .hero {
    padding: 100px 150px 30px 40px;
    font-weight: bold;
    font-size: 20px;
}

                    /* Form */

.form-panel {
    padding: 10px 300px 10px 40px;
    background-color: #fff;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 0.1);
}
.form-panel h2 {
    margin-bottom: 16px;
}
.form-row {
display: flex;
gap: 24px;
margin-bottom: 20px;
}

.form-field {
flex: 1;
min-width: 0;
}

.form-field label {
display: block;
margin-bottom: 6px;
}

.form-field input {
width: 100%;
padding: 10px;
}

.form-field input {
    border:1.2px solid #E5E7EB;
    border-radius: 8px;
    outline: none;
    
}
.form-field input:user-invalid {
    border-color: #c53030;

}
.form-field input:focus {

    border-color: #2d6cc9;
    box-shadow: 3px 3px 5px rgb(0 0 0 / 0.1);

}

            /* Form Footer */
.form-footer {
    padding: 10px 300px 30px 40px;
}
.create-btn {
    padding: 12px 46px;
    border-radius: 8px;
    border-style: none;
    margin-bottom: 16px;
    background-color: #596D48;
    color: white;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 0.1);
    cursor: pointer;

}
.create-btn:hover {
    background-color: rgb(59, 87, 36);

}